(
        surfaces: [
            Main((
                nodes: [
                    Horizontal((
                        rect: (
                            min: (
                                x: 0.0,
                                y: 24.0,
                            ),
                            max: (
                                x: 710.0,
                                y: 699.84375,
                            ),
                        ),
                        fraction: 0.75352114,
                        fully_collapsed: false,
                        collapsed_leaf_count: 0,
                    )),
                    Leaf((
                        rect: (
                            min: (
                                x: 0.0,
                                y: 24.0,
                            ),
                            max: (
                                x: 534.44446,
                                y: 699.84375,
                            ),
                        ),
                        viewport: (
                            min: (
                                x: 0.0,
                                y: 48.0,
                            ),
                            max: (
                                x: 534.4375,
                                y: 699.84375,
                            ),
                        ),
                        tabs: ["t0", "t1", "t2", "t3"],
                        active: (0),
                        scroll: 0.0,
                        collapsed: false,
                    )),
                    Vertical((
                        rect: (
                            min: (
                                x: 535.55554,
                                y: 24.0,
                            ),
                            max: (
                                x: 710.0,
                                y: 699.84375,
                            ),
                        ),
                        fraction: 0.33,
                        fully_collapsed: false,
                        collapsed_leaf_count: 0,
                    )),
                    Empty,
                    Empty,
                    Leaf((
                        rect: (
                            min: (
                                x: 535.55554,
                                y: 24.0,
                            ),
                            max: (
                                x: 710.0,
                                y: 246.2963,
                            ),
                        ),
                        viewport: (
                            min: (
                                x: 535.5625,
                                y: 55.5,
                            ),
                            max: (
                                x: 710.0,
                                y: 246.28125,
                            ),
                        ),
                        tabs: ["t0"],
                        active: (0),
                        scroll: 0.0,
                        collapsed: false,
                    )),
                    Vertical((
                        rect: (
                            min: (
                                x: 535.55554,
                                y: 247.40741,
                            ),
                            max: (
                                x: 710.0,
                                y: 699.84375,
                            ),
                        ),
                        fraction: 0.5,
                        fully_collapsed: false,
                        collapsed_leaf_count: 0,
                    )),
                    Empty,
                    Empty,
                    Empty,
                    Empty,
                    Empty,
                    Empty,
                    Leaf((
                        rect: (
                            min: (
                                x: 535.55554,
                                y: 247.40741,
                            ),
                            max: (
                                x: 710.0,
                                y: 473.3333,
                            ),
                        ),
                        viewport: (
                            min: (
                                x: 535.5625,
                                y: 278.90625,
                            ),
                            max: (
                                x: 710.0,
                                y: 473.34375,
                            ),
                        ),
                        tabs: ["t0", "t1"],
                        active: (0),
                        scroll: 0.0,
                        collapsed: false,
                    )),
                    Leaf((
                        rect: (
                            min: (
                                x: 535.55554,
                                y: 474.07407,
                            ),
                            max: (
                                x: 710.0,
                                y: 699.84375,
                            ),
                        ),
                        viewport: (
                            min: (
                                x: 535.5625,
                                y: 498.0625,
                            ),
                            max: (
                                x: 710.0,
                                y: 699.84375,
                            ),
                        ),
                        tabs: ["t0"],
                        active: (0),
                        scroll: 0.0,
                        collapsed: false,
                    )),
                ],
                focused_node: Some((14)),
                collapsed: false,
                collapsed_leaf_count: 0,
            )),
        ],
        focused_surface: None,
        translations: (
            tab_context_menu: (
                close_button: "Close",
                eject_button: "Eject",
            ),
            leaf: (
                close_button_disabled_tooltip: "This leaf contains non-closable tabs.",
                close_all_button: "Close window",
                close_all_button_menu_hint: "Right click to close this window.",
                close_all_button_modifier_hint: "Press modifier keys (Shift by default) to close this window.",
                close_all_button_modifier_menu_hint: "Press modifier keys (Shift by default) or right click to close this window.",
                close_all_button_disabled_tooltip: "This window contains non-closable tabs.",
                minimize_button: "Minimize window",
                minimize_button_menu_hint: "Right click to minimize this window.",
                minimize_button_modifier_hint: "Press modifier keys (Shift by default) to minimize this window.",
                minimize_button_modifier_menu_hint: "Press modifier keys (Shift by default) or right click to minimize this window.",
            ),
        ),
    )