(
        surfaces: [
            Main((
                nodes: [
                    Horizontal((
                        rect: (
                            min: (
                                x: 0.0,
                                y: 24.0,
                            ),
                            max: (
                                x: 912.84375,
                                y: 926.15625,
                            ),
                        ),
                        fraction: 0.49937966,
                        fully_collapsed: false,
                        collapsed_leaf_count: 0,
                    )),
                    Leaf((
                        rect: (
                            min: (
                                x: 0.0,
                                y: 24.0,
                            ),
                            max: (
                                x: 455.23813,
                                y: 926.15625,
                            ),
                        ),
                        viewport: (
                            min: (
                                x: 0.0,
                                y: 48.0,
                            ),
                            max: (
                                x: 455.25,
                                y: 926.15625,
                            ),
                        ),
                        tabs: ["t0"],
                        active: (0),
                        scroll: 0.0,
                        collapsed: false,
                    )),
                    Vertical((
                        rect: (
                            min: (
                                x: 456.1905,
                                y: 24.0,
                            ),
                            max: (
                                x: 912.84375,
                                y: 926.15625,
                            ),
                        ),
                        fraction: 0.5,
                        fully_collapsed: false,
                        collapsed_leaf_count: 0,
                    )),
                    Empty,
                    Empty,
                    Leaf((
                        rect: (
                            min: (
                                x: 456.1905,
                                y: 24.0,
                            ),
                            max: (
                                x: 912.84375,
                                y: 474.28574,
                            ),
                        ),
                        viewport: (
                            min: (
                                x: 456.1875,
                                y: 48.0,
                            ),
                            max: (
                                x: 912.84375,
                                y: 474.28125,
                            ),
                        ),
                        tabs: ["t0"],
                        active: (0),
                        scroll: 0.0,
                        collapsed: false,
                    )),
                    Leaf((
                        rect: (
                            min: (
                                x: 456.1905,
                                y: 475.7143,
                            ),
                            max: (
                                x: 912.84375,
                                y: 926.15625,
                            ),
                        ),
                        viewport: (
                            min: (
                                x: 456.1875,
                                y: 499.71875,
                            ),
                            max: (
                                x: 912.84375,
                                y: 926.15625,
                            ),
                        ),
                        tabs: ["t0"],
                        active: (0),
                        scroll: 0.0,
                        collapsed: false,
                    )),
                ],
                focused_node: Some((1)),
                collapsed: false,
                collapsed_leaf_count: 0,
            )),
        ],
        focused_surface: Some((0)),
        translations: (
            tab_context_menu: (
                close_button: "Close",
                eject_button: "Eject",
            ),
            leaf: (
                close_button_disabled_tooltip: "This leaf contains non-closable tabs.",
                close_all_button: "Close window",
                close_all_button_menu_hint: "Right click to close this window.",
                close_all_button_modifier_hint: "Press modifier keys (Shift by default) to close this window.",
                close_all_button_modifier_menu_hint: "Press modifier keys (Shift by default) or right click to close this window.",
                close_all_button_disabled_tooltip: "This window contains non-closable tabs.",
                minimize_button: "Minimize window",
                minimize_button_menu_hint: "Right click to minimize this window.",
                minimize_button_modifier_hint: "Press modifier keys (Shift by default) to minimize this window.",
                minimize_button_modifier_menu_hint: "Press modifier keys (Shift by default) or right click to minimize this window.",
            ),
        ),
    )